<html>
	<div modaldraggable="formula-modal">
		<div class="modal-header">
	        <button type="button" class="close" ng-click="exitFormula()">&times;</button>
	        <h4 class="modal-title">Formula Sheet</h4>
	    </div>
		<div class="modal-body" style="height: 400px; width: auto; overflow-y: scroll;">
			<img ng-if="exam_class === 'Algebra 1'" src="/modules/core/client/img/formulaSheetAlgebra1.png"></img>
			<img ng-if="exam_class === 'Algebra 2'" src="/modules/core/client/img/formulaSheetAlgebra2.png"></img>
		</div>
	</div>
</html>