<div modaldraggable>
	<div class="modal-header">
        <button type="button" class="close" ng-click="exitCalc()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notepad</h4>
    </div>
	<div class="modal-body">
		<div>
		<div><textarea autofocus cols="65%" rows="14"></textarea></div>
	</div>
	</div>
	<!--div class= "modal_footer">
		<span class='button-group'>
			<span class='notepad_cancel1'>
				<span class='notepad_cancel2'>
					<button class="btn btn-default notepad_cancel_button" ng-click='cancelNotes()'>Cancel</button>
				</span>
			</span>
			<span class='notepad_save1'>
				<span class='notepad_cancel2'>
					<button  class="btn btn-default notepad_save_button" ng-click='saveNotes()'>Save & Close</button>
				</span>
			</span>
		</span>
	</div-->
</div>