<div modaldraggable="notepad-modal">
	<div class="modal-header">
        <button type="button" class="close" ng-click="exitCalc()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notes</h4>
    </div>
	<div class="modal-body">
	{{attempt | json}}
		<!--<iframe src="/modules/exams-take/client/views/notes-modal-iframe.client.view.html" frameBorder="0" width="600" height="400"></iframe>-->
		<textarea ng-model="attempt.allotted_time"style="width:99%;height:99%;resize:none;" autofocus></textarea>
	</div>
</div>