<!-- The choose-test view -->
<section id="choose-test" class="container admin-analysis">
	<div class="alert alert-warning" ng-repeat="attempt in attempts" ng-if="!attempt.submitted && !attempt.isDismissed">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="attempt.isDismissed = true">&times;</a>
	  		<strong>Warning!</strong> You have a test in session right now. Click <a style="cursor:pointer" ng-click="start_exam(attempt.exam)">here</a> to return to {{attempt.exam.title}}

	</div>
	
	<uib-tabset>
		<uib-tab ng-click="selected_mode='take'" active="true">
			<uib-tab-heading>
				<h2 class="black-text" ng-class="{'grey-text':selected_mode !=='take'}">Start an exam</h2>
			</uib-tab-heading>
			<div class="row">
				<div class="col-md-6 test-con">
					<h3 class="black-text" style="border-bottom:1px solid #e2e2e2;">Algebra 1</h3>
					<table class="table table-hover table-striped table-bordered">
						<tr ng-repeat="exam in exams" ng-if="exam.class==='Algebra 1'" ng-init="exam.show_info=false">
							<td class="exam-name">{{exam.title}}
								<div uib-collapse="!exam.show_info">
									<div class="well well-lg">
										<table>
											<tr>
												<td style="float:left">
													Attempts Remaining: 
												</td>
												<td>
													<strong>EXAMS LEFT</strong>
												</td>
											</tr>
											<tr>
												<td style="float:left">
													Time alloted: 
												</td>
												<td>
													<strong>{{exam.allotted_time }} minutes</strong>
												</td>
											</tr>											
											<tr>
												<td style="float:left">
													Total Points: 
												</td>
												<td>
													<strong>{{exam.point_total}}</strong>
												</td>
											</tr>
											<tr>
											</tr>
										</table>
									</div>
								</div>
							</td>
							<td nowrap>
								<i ng-click="start_exam(exam)" class="btn btn-primary glyphicon glyphicon-new-window"></i>
								<i class="btn btn-primary glyphicon glyphicon-comment" ng-click="exam.show_info=!exam.show_info"></i>
							</td>
						</tr>
					</table>
				</div>
				<div class ="col-md-6 test-con">
					<h3 class="black-text" style="border-bottom:1px solid #e2e2e2;">Algebra 2</h3>
					<table class="table table-hover table-striped table-bordered">
						<tr ng-repeat="exam in exams" ng-if="exam.class==='Algebra 2'" ng-init="exam.show_info=false">
							<td class="exam-name">{{exam.title}}
								<div uib-collapse="!exam.show_info">
									<div class="well well-lg">
										<table>
											<tr>
												<td style="float:left">
													Attempts Remaining: 
												</td>
												<td>
													<strong>EXAMS LEFT</strong>
												</td>
											</tr>
											<tr>
												<td style="float:left">
													Time alloted: 
												</td>
												<td>
													<strong>{{exam.allotted_time }} minutes</strong>
												</td>
											</tr>											
											<tr>
												<td style="float:left">
													Total Points: 
												</td>
												<td>
													<strong>{{exam.point_total}}</strong>
												</td>
											</tr>
											<tr>
											</tr>
										</table>
									</div>
								</div>
							</td>
							<td nowrap>
								<i ng-click="start_exam(exam)" class="btn btn-primary glyphicon glyphicon-new-window"></i>
								<i class="btn btn-primary glyphicon glyphicon-comment" ng-click="exam.show_info=!exam.show_info"></i>
							</td>
						</tr>
					</table>
				</div>
			</div>
			</uib-tab>
			<uib-tab ng-click="selected_mode='attempt'">
				<uib-tab-heading>
					<h2 class="black-text" ng-class="{'grey-text':selected_mode !=='attempt'}">View previous attempts</h2>
				</uib-tab-heading>	
				<div class = "row">
					<div class="test-con col-md-6 ">
						<h3 class="black-text" style="border-bottom:1px solid #e2e2e2;">Algebra 1</h3>
						<table class="table table-hover table-striped table-bordered">
							<tr ng-repeat="attempt in attempts" ng-if="attempt.submitted && attempt.exam.class==='Algebra 1'">
								<td class="exam-name">
								{{attempt.exam_title}} 
								<span class="attempt-info"><strong>{{'attempt: ' + (attempt.attempt_number+1)}}</strong></span></td>
								<td><i ng-click="review_attempt(attempt)"class="btn btn-primary glyphicon glyphicon-share"></i></td>
							</tr>
						</table>
					</div>
					<div class="test-con col-md-6 ">
						<h3 class="black-text" style="border-bottom:1px solid #e2e2e2;">Algebra 2</h3>
						<table class="table table-hover table-striped table-bordered">
							<tr ng-repeat="attempt in attempts" ng-if="attempt.submitted && attempt.exam.class==='Algebra 2'">
								<td class="exam-name">
								{{attempt.exam_title}} 
								<span class="attempt-info"> {{'attempt: ' + (attempt.attempt_number+1)}}
								</span></td>
								<td><i ng-click="review_attempt(attempt)"class="btn btn-primary glyphicon glyphicon-share"></i></td>
							</tr>
						</table>
					</div>
				</div>
			</uib-tab>
	</uib-tabset>
</section>