<div class="container edit-exams">
	<div class="row">
		<div class="col-md-12">
			&nbsp
		</div>
	</div>
	<div class="row">
		<!-- show all tests without any class grouping -->
		<div class="col-md-2 exam-selector">
			<div class="new-exam-btn btn btn-primary" ng-click="add_exam()">
				Add a new exam
				<i class="glyphicon glyphicon-plus"></i>		
			</div>	
			<uib-tabset vertical="true" type="pills">
				<uib-tab ng-repeat= "exam in exams" active="exam.active" heading="{{exam.title}}" ng-click="activate_tab(exam)"></uib-tab>
			</uib-tabset>	
		</div>		
		<div class="col-md-10">
			<div ui-view></div>
		</div>
	</div>
</div>
