<div class="container admin-analysis">
	<div class="row">
		<div class="col-md-12">
			<div class="new-exam-btn btn btn-primary" ng-click="edit_standard()">
				Add a new standard
				<i class="glyphicon glyphicon-plus"></i>		
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 standards">
			<table tr-ng-grid="" items="standards" class="black-text">
				<thead>
					<tr>
						<th field-name="code" display-name="Code">
						<th field-name="content" display-name="Content" >
						<th field-name="notes" display-name="Notes">
						<!--<th display-name="Options" enable-filtering="false" enable-sorting="false"></th>-->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<button class="btn btn-default black-text" ng-click="edit_standard(gridItem)">
								<i class="glyphicon glyphicon-edit"></i>	
							</button>
							<button class="btn btn-default black-text" ng-click="delete_standard(gridItem)">
								<i class="glyphicon glyphicon-remove red"></i>	
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
