<div style="width:100%" class="container edit-exams">
	<div class="row">
		<div class="col-md-12">
			&nbsp
		</div>
	</div>
	
		<!-- show all tests without any class grouping -->
		<div class="row col-md-12 exam-selector">
			<uib-tabset horizontal="true">
				<uib-tab class="add-exam-tab" ng-click="add_exam()" style="background-color:rgb(48, 114, 172);">
					<uib-tab-heading>Add a new exam <i class="glyphicon glyphicon-plus"></i></uib-tab-heading>
				</uib-tab>
				<uib-tab ng-repeat= "exam in exams" active="exam.active" heading="{{exam.title}}" ng-click="activate_tab(exam)"></uib-tab>
			</uib-tabset>	
		</div>
		<div class="row">		
		<div class="col-md-12">
			<div class="loading ng-hide" ng-show="load">
				<img src="modules/core/client/img/loaders/loader.gif" align="center">
			</div>
			<div ng-hide="load">
					<ui-view></ui-view>
			</div>
		</div>
	</div>
</div>
