<div class="loading ng-hide" ng-show="loading">
	 <img src="modules/core/client/img/loaders/loader.gif" align = "center">
</div>
<div class="rofsdfsdw" ng-hide="loading">
	<div class = "col-md-1sfdsd2 main-table-container" ng-show="exam">
		<table class="main-table">
			<tr class = "main-table-header-row">
				<td class="header-container">
					<table class="header-table">
						<tr>
							<td class="header-table-title">
								<h1>{{exam.title}}</h1>
							</td>
							<td class ="small-btn-container">
								<div class="btn btn-primary" ng-click="add_question_to_exam(exam)">
									Add a new question
									<i class="glyphicon glyphicon-plus"></i>		
								</div>
							</td>
							<td class ="small-btn-container">
								<div class="btn btn-primary" ng-click="edit_exam(exam)">
									Edit
									<i class="glyphicon glyphicon-edit"></i>		
								</div>
							</td>
							<td class ="small-btn-container">
								<div class="btn btn-danger" ng-click="delete_exam(exam)">
									Delete Exam
									<i class="glyphicon glyphicon-remove"></i>		
								</div>
							</td>
						</tr>
						<tr><td style="padding:5px"><strong>Revision#:             </strong>  {{exam.version}}</td></tr>
						<tr><td style="padding:5px"><strong>Total Points:         </strong>  {{exam.point_total }}</td></tr>
						<tr><td style="padding:5px"><strong>Allotted time:        </strong>  {{exam.allotted_time }} minutes</td></tr>
						<tr><td style="padding:5px"><strong>Available attempts:   </strong>  {{exam.allowed_attempts }}</td></tr>
						<tr><td ng-if="exam.published" style="padding:5px"><strong>Available to students:</strong> yes</td></tr>
						<tr><td ng-if="!exam.published" style="padding:5px"><strong>Available to students:</strong>  no</td></tr>
					</table>
				</td>
			</tr>
			<tr class="question-row" ng-repeat= "question in exam.questions" ng-mouseover="question_hover=true" ng-mouseleave="question_hover=false">
				<td class="question-row-container">
					<table>
						<tr>
							<td ng-show="question.loading">
								<div class="loading ng-hide" ng-show="question.loading">
									<img src="modules/core/client/img/loaders/loader.gif" align = "center">
								</div>
							</td>
						
							<td class="question-container" ng-hide="question.loading">
							<div class='question-num'>
							
							<div style="float:left">
								<strong>question #:</strong> {{$index+1}} </strong><br>
								<strong>points:</strong> {{question.points || "no point data"}}<br>
								<strong>type:</strong> {{question.type}}
														
							</div>
							<div class="question-buttons" style="float:right">	
								<div class="btn btn-primary" ng-click="edit_question(exam, question)">
								<i class="glyphicon glyphicon-edit"></i>		
								</div>
								<div class="btn btn-danger" ng-click="delete_question(exam, question)">
								<i class="glyphicon glyphicon-remove"></i>		
								</div>
							</div>
							</div>
								<table class="inside-tbl">
									<tr class="question-content-row" >
										<td>
											<table>
												<tr>
													<td class="question-text">
														<pre mathjax="question.content"></pre>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="answer-container">
											<table class="answer-row-container">
												<tr class="answer-row" ng-if="question.type === 'fill in the blank' "ng-repeat="answer in question.answers">
													<td>
														numeric: {{answer.is_numeric}}
													</td>
													<td>
														label: <pre mathjax="answer.label"></pre>
													</td>
													<td ng-if="!answer.is_numeric">
														answer: <pre mathjax="answer.content"></pre>
													</td>
													<td ng-if="!answer.is_numeric">
														
													</td>
													<td ng-if="answer.is_numeric">
														value: {{answer.value}}
													</td>
													<td ng-if="answer.is_numeric">
														tolerance: {{answer.tolerance}}
													</td>
													
												</tr>
												
												<tr class="answer-row" ng-if="question.type === 'multiple choice' || question.type === 'multiple select'"
												ng-repeat="answer in question.answers">								
													<td class="answer-text">
														<pre mathjax="answer.content"></pre>
													</td>
													<td class="small-glyph-container" ng-show="answer.correct">
														<i class="glyphicon glyphicon-ok green"></i>
													</td>
													<td class="small-glyph-container" ng-show="!answer.correct">
														<i class="glyphicon glyphicon-remove red"></i>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="space">
				<td></td>
			</tr>
		</table>
	</div>
</div>